<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Project Level</title>
	
</head>
<body>
	<div><link rel="stylesheet" type="text/css" href="{% static "css/sixthapp.css" %}">
	
</head>
<body text ='orange'>
</div>
	<div style ="border:solid;width:17.5%">
		<img src="{% static "image/pythonn.JFIF" %}">
	</div>
		
	<div style ="border:soild;width:81%;float:right;margin-top:-200px">
	<center>
		<h1>{{msg1}}</h1>
		<h1>{{msg}}</h1>
		<h1>The sever time is:{{date}}</h1>
	</center>
</div>
</body>
</html>